body {
  background-color: rgb(50, 50, 50);
  color: white;
}

.p-component {
  background-color: rgb(50, 50, 50);
  color: white;
}

td {
  color: white;
  background: rgb(50, 50, 50);
}

a {
  color: white;
}

legend  {
  background-color: rgb(50, 50, 50);
  color: white;
}

.p-fieldset-content {
  background-color: rgb(50, 50, 50);
  color: white;
}

